body {
  text-align: center; 
}

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */
.padding_box { padding: 3% }
.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_three_fourth,
.col_fifth{
    position: relative;
    display:inline;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: 980px; margin: 30px auto; position: relative;}
.counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    background: white;
    text-align: center;
    border-radius: 5px;
}

.carousel-indicators {
  bottom:-15px;
}
.carousel-indicators li{
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}

.title_font{
  font-family: whitman-display-compressed-regular, serif;
  font-style: normal;
  font-weight: 100;
}

.about_image{
  border-radius: 8px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;

}

.index_image{
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

.icon_whatsapp{
  background-color: #56e675 ;
  position: fixed;
  z-index: 999;
  bottom: 2%;
  right: 2%;
  border-radius: 60px;
}
.icon_whatsapp:hover{
  color:white;
}

.top_bar{
  position: relative;
  height: 100px;
}
