body {
  text-align: center; 
}

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */
.padding_box { padding: 3% }
.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_three_fourth,
.col_fifth{
    position: relative;
    display:inline;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: 980px; margin: 30px auto; position: relative;}
.counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    background: white;
    text-align: center;
    border-radius: 5px;
}

.carousel-indicators {
  bottom:-15px;
}
.carousel-indicators li{
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}

.title_font{
  font-family: whitman-display-compressed-regular, serif;
  font-style: normal;
  font-weight: 100;
}

.about_image{
  border-radius: 8px;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;

}

.index_image{
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

.icon_whatsapp{
  background-color: #56e675 ;
  position: fixed;
  z-index: 999;
  bottom: 2%;
  right: 2%;
  border-radius: 60px;
}
.icon_whatsapp:hover{
  color:white;
}

.top_bar{
  position: relative;
  height: 100px;
}

.border_radius_5px{
  
}

/*Blog post div*/
.zoom {
  transition: transform .5s;
}

.zoom:hover {
  transform: scale(1.05); /* (105% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  
}
.zoom a:hover { 
  text-decoration: none;
  color: black;
}

.no-hover:hover{
  color: black;
}


body,p,li,a,strong{
  font-family: minion-3,serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .01em;
}

@font-face {font-family: "AireBoldPro"; 
    src: url('/fonts/AireBoldPro.otf') format('opentype');
    font-display: swap;}
    @font-face {font-family: "FreightBigBook"; 
      src: url('/fonts/FreightBigBook.otf') format('opentype');
      font-display: swap;}

h4{
  font-family: AireBoldPro;
  font-size: 3rem;
  line-height: 1.78;
  font-weight: normal;
  font-style: normal;
}
h2{
  font-family: Arapey, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: -.05em;
  line-height: 1.6em;

}@media (min-width: 768px) {
  h2{
    font-family: Arapey, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    letter-spacing: -.05em;
    line-height: 1.6em;
  }
}

.pagetitlefont-2,h1{
  font-family: Arapey, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: -.05em;
  line-height: 1.6em;
}@media (min-width: 768px) {
  .pagetitlefont-2,h1{
    font-family: Arapey, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    letter-spacing: -.05em;
    line-height: 1.6em;
  }
}

.Arapey-font-minus{
  font-family: Arapey, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.05em;
  line-height: 1.6em;
}

.Arapey-font{
  font-family: Arapey, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .25em;
  line-height: 2.6em;
}

h3{
  font-size: 3rem;
  line-height: 1.78;
  font-weight: normal;
}


/*button css*/
button{
  color: #212121;
  background-color: #ffffff;
  font-family: Arapey, serif;
  font-size: 1.5rem;
  font-style: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: normal;
  border: 1px solid;
  padding: .6875rem 1.5625rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 20px 30px;
}
button:hover{
  border: 0px;
}
span{
  display: block;
}

button::before, button::after{
  border: 0px;
  content:"";
  width: 0;
  height: 1px;
  position: absolute;
  transition: all 0.2s linear;
  background: #212121;
}

span::before, span::after{
  content:"";
  width:1px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #212121;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}

/*----- button 4 -----*/
.btn-4::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4 span::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.btn-4 span::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}


/* a hover*/

/* site logo mobile */
.site-logo-mobile{
  margin-bottom: 6px;
  max-width: 20%;
}

/* navbar-brand-mobile*/
.navbar-brand-mobile{
  padding: 20px 15px 20px 15px;
  font-size: 140%;
  line-height: 26px;
}
.navbar-button{
  margin: 10px 15% 10px 15%;
  padding-right:15%;
  background-color: #f7f7f7 !important;
}
.navbar-toggle {
  float: left;
}

.blog-index{

  padding-bottom: 10px;
}

.about-me-image-size{
  width:90%;margin-left: 5%;margin-right: 5%;
}
@media (min-width: 768px) {
  .about-me-image-size{
    width:60%;margin-left: 20%;margin-right: 20%;
  }
}
.about-me-text-size{
  width:90%;margin-left: 5%;margin-right: 5%;
}
@media (min-width: 768px) {
  .about-me-text-size{
    width:60%;margin-left: 20%;margin-right: 20%;
  }
}
.about-me-title-size{
  color: #812505; font-size: 26px; font-style: normal; padding-top: 20px;padding-bottom: 20px;
}@media (min-width: 768px) {
  .about-me-title-size{
    font-size: 40px; padding: 20px;
  }
}

.index-about-me{
  padding: 0rem 1rem 1rem 1rem;
}@media (min-width: 768px) {
  .index-about-me{
    padding: 15rem 10rem 15rem 10rem;
  }
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* youtube embed */
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
