<footer class="site-footer" style="background-color: rgba(245,245,245, 1)">
 
  <div class="row" data-aos="fade-up" style="color:#777777;padding: 3%;margin: auto;width: 75%;">
    <div class="col-xs- 12 col-md-12" style="padding-bottom: 15px;">
      <div class="col-md-2" style="padding-bottom: 15px;"><a href="/index"  class="Arapey-font" style="color:#777777">Home</a></div>
      <div class="col-md-2" style="padding-bottom: 15px;"><a href="/blog" class="Arapey-font" style="color:#777777">Blog</a></div>
      <div class="col-md-2" style="padding-bottom: 15px;"><a href="/about" class="Arapey-font" style="color:#777777">About</a></div>
      <!--<div class="col-md-2" style="padding-bottom: 15px;"><a href="/pricing" class="Arapey-font" style="color:#777777">Pricing</a></div>-->
      <div class="col-md-2" style="padding-bottom: 15px;"><a href="/contact" class="Arapey-font" style="color:#777777">Contact</a></div>
    </div>
    <div class="col-md-6">
      <p style="text-align: center;" >© Srikar Rao 2021, India</p>
    </div>
    <div class=" col-md-4" >
      <p class="nav-footer-social-buttons" style="float: center;">
              <a class="fa-icon" href="https://www.instagram.com/srikar_rao_photography/">
              <i class="fa fa-instagram"></i>
              </a>
              <a class="fa-icon" href="https://www.facebook.com/srikarRaoPhotography/">
              <i class="fa fa-facebook"></i>
              </a>
            </p>
    </div>
</div>
</footer>
