<header class="">
  <div class="visible-xs">
    <div style="position: absolute; padding: 25px">
      <span style="font-family:Arapey, serif; font-style: normal;" onclick="openNav()">&#9776;</span>
    </div>

  <div class="navbar-brand-mobile" >
      <a href="/index"><img class="img-responsive site-logo-mobile" style="display: block; margin-left: auto; margin-right: auto;" alt="" src="/images/srlogo.svg"><span class="pagetitlefont-2">Srikar Rao Photography</span></a>
    </div>
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="Arapey-font-minus" href="/index" title="">Home</a>
  <a class="Arapey-font-minus" href="/blog" title="">Blog</a>
  <a class="Arapey-font-minus" href="/birthdayparty" title="">Birthday Party</a>
  <a class="Arapey-font-minus" href="/wedding-photography" title="">Weddings</a>
  <a class="Arapey-font-minus" href="/portrait" title="">Portraits</a>
  <a class="Arapey-font-minus" href="/corporatework" title="">Corporate Projects</a>
  <a class="Arapey-font-minus" href="/about" title="">About Me</a>
  <a class="Arapey-font-minus" href="/contact" title="">Contact</a>
 </div>
</div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand Arapey-font-minus no-hover" style="letter-spacing: .01em;" href="/index" title="">
            <img class="img-responsive site-logo" alt="" src="/images/srlogo.svg">
             <b>Srikar Rao Photography</b>
          </a>
      </div>
      <ul class="nav">
        <li><a class="Arapey-font-minus" href="/index" title="">Home</a></li>
        <li><a class="Arapey-font-minus" href="/blog" title="">Blog</a></li>
        <li><a class="Arapey-font-minus" href="/birthdayparty" title="">Birthday Party</a></li>
        <li><a class="Arapey-font-minus" href="/wedding-photography" title="">Weddings</a></li>
        <li><a class="Arapey-font-minus" href="/about" title="">About Me</a></li>
        <!--<li><a class="Arapey-font-minus" href="/pricing" title="">Pricing</a></li>-->
        <li><a class="Arapey-font-minus" href="/contact" title="">Contact</a></li>
        <br>
        <li><p class="nav-footer-social-buttons">
              <a class="fa-icon" href="https://www.instagram.com/srikar_rao_photography/" title="">
              <i class="fa fa-instagram"></i>
              </a>
              <a class="fa-icon" href="https://www.facebook.com/srikarRaoPhotography/" title="">
              <i class="fa fa-facebook"></i>
              </a>
            </p></li>
      </ul> 
    </div> 
  </nav>
  <div>
    <a href="https://wa.me/918121223231?text=Hi, I'm Looking for a Photographer." class="icon_whatsapp"><i class="fa fa-whatsapp"></i></a> 
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</header>
