<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/index" class="navbar-brand">Srikar Rao Photography</a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/index" title="">
            <img class="img-responsive site-logo" alt="" src="/images/srlogo.svg">
            Srikar Rao Photography
          </a>
      </div>
      <ul class="nav">
        <li><a href="/index" title="">Home</a></li>
        <li><a href="/blog" title="">Blog</a></li>
        <li><a href="/about" title="">About</a></li>
        <li><a href="/contact" title="">Contact</a></li>
        <li><p class="nav-footer-social-buttons">
              <a class="fa-icon" href="https://www.instagram.com/srikar_rao_photography/" title="">
              <i class="fa fa-instagram"></i>
              </a>
              <a class="fa-icon" href="https://www.facebook.com/srikarRaoPhotography/" title="">
              <i class="fa fa-facebook"></i>
              </a>
            </p></li>
      </ul>

      <nav class="nav-footer">
        <h6><b>Made with love by </b>Srikar Rao | 2019 </h6>
      </nav>  
    </div> 
  </nav>
  <div>
    <a href="https://wa.me/918121223231?text=Hi, I'm Looking for a Photographer." class="icon_whatsapp"><i class="fa fa-whatsapp"></i></a> 
</div>
</header>
