<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1">
    <base href="">
    <meta charset="utf-8">
    <title>Srikar Rao - Wedding Photographer </title>
    <link rel="icon" href="https://srikarraophotography.com/images/srikarlogo2_1.png" type="image/gif" sizes="16x16">
    
    <meta property="og:site_name" content="Srikar Rao - Bangalore Wedding Photographer">
    <meta property="og:title" content="Srikar Rao - Bangalore Wedding Photographer">
    <meta property="og:url" content="https://www.SrikarRaoPhotography.com">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://srikarraophotography.com/images/ringceremony/Phaniratna&madhuri/online-home-zoom-hyderabad-ringceremony-photographer--2.jpg
?format=1500w">
    <meta property="og:image:width" content="1500">
    <meta property="og:image:height" content="1000">
    
    <meta itemprop="name" content="Srikar Rao - Wedding Photographer">
    <meta itemprop="url" content="https://www.SrikarRaoPhotography.com">
    <meta itemprop="description" content="{{ page.description }}">
    <meta itemprop="thumbnailUrl" content="https://srikarraophotography.com/images/ringceremony/Phaniratna&madhuri/online-home-zoom-hyderabad-ringceremony-photographer--2.jpg
?format=1500w">
    <link rel="image_src" href="https://srikarraophotography.com/images/ringceremony/Phaniratna&madhuri/online-home-zoom-hyderabad-ringceremony-photographer--2.jpg
?format=1500w">
    <meta itemprop="image" content="https://srikarraophotography.com/images/ringceremony/Phaniratna&madhuri/online-home-zoom-hyderabad-ringceremony-photographer--2.jpg
?format=1500w">
    
    <meta name="twitter:title" content="Srikar Rao - Wedding Photographer">
    <meta name="twitter:image" content="https://srikarraophotography.com/images/ringceremony/Phaniratna&madhuri/online-home-zoom-hyderabad-ringceremony-photographer--2.jpg
?format=1500w">
    <meta name="twitter:url" content="https://www.srikarRaoPhotography.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ page.description }}">
    
    <meta name="description" content="{{ page.description }}">
    <meta name="google" content="notranslate" />
    <meta name="p:domain_verify" content="undefined"/>
    <meta name="google-site-verification" content="PtwKGicVlahgE3EnJoXNYT6ta_wbHzREDk2i5bz88Jc" />
    
    <meta name="msapplication-tap-highlight" content="no">
    <link href="/css/main.82cfd66e.css" rel="stylesheet">
    <link href="/css/sr_css.css" rel="stylesheet">
    <link href="/css/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/fancybox.min.css">
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="stylesheet" href="https://use.typekit.net/wbm2sly.css">
  

    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "Srikar Rao Photography",
  "image" : "https://www.srikarRaoPhotography.com/images/home/weddings_2.jpg",
  "telephone" : "+918121223231",
  "email" : "Srikarraophotography@gmail.com",
  "address" : {
    "@type" : "PostalAddress",
    "addressLocality" : "Bangalore"
  }
}
</script>
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2116482,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

</head>
