<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1">
    <base href="">
    <meta charset="utf-8">
    <title>Srikar Rao - Bangalore Wedding Photographer </title>
    <link rel="icon" href="/images/srikarlogo2_1.png" type="image/gif" sizes="16x16">
    <link rel="canonical" href="https://www.srikarraophotography.com">
    <meta property="og:site_name" content="Srikar Rao - Wedding Photographer Bangalore ">
    <meta property="og:title" content="Srikar Rao - Wedding Photographer Bangalore ">
    <meta property="og:url" content="https://www.SrikarRaoPhotography.com">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Event photographers & Wedding photographers based in Bangalore, India. We love documenting Weddings, Birthday Parties and any special day of yours with authentic moments that evoke genuine emotion.">
    <meta property="og:image" content="/images/srikarlogo2_1.png?format=1500w">
    <meta property="og:image:width" content="1500">
    <meta property="og:image:height" content="1000">
    <meta itemprop="name" content="Srikar Rao - Wedding Photographer Bangalore ">
    <meta itemprop="url" content="https://www.SrikarRaoPhotography.com">
    <meta itemprop="description" content="Event photographers & Wedding photographers based in Bangalore, India. We love documenting Weddings, Birthday Parties and any special day of yours with authentic moments that evoke genuine emotion.">
    <meta itemprop="thumbnailUrl" content="/images/srikarlogo2_1.png?format=1500w">
    <link rel="image_src" href="/images/srikarlogo2_1.png?format=1500w">
    <meta itemprop="image" content="/images/srikarlogo2_1.png?format=1500w">
    <meta name="twitter:title" content="Srikar Rao - Wedding Photographer Bangalore ">
    <meta name="twitter:image" content="/images/srikarlogo2_1.png?format=1500w">
    <meta name="twitter:url" content="https://www.srikarRaoPhotography.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Event photographers & Wedding photographers based in Bangalore, India. We love documenting Weddings, Birthday Parties and any special day of yours with authentic moments that evoke genuine emotion.">
    <meta name="description" content="Event photographers & Wedding photographers based in Bangalore, India. We love documenting Weddings, Birthday Parties and any special day of yours with authentic moments that evoke genuine emotion.">
    <meta name="google" content="notranslate" />
    <meta name="p:domain_verify" content="undefined"/>
    
    <meta name="msapplication-tap-highlight" content="no">
    <link href="/css/main.82cfd66e.css" rel="stylesheet">
    <link href="/css/sr_css.css" rel="stylesheet">
    <link href="/css/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/fancybox.min.css">
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="stylesheet" href="https://use.typekit.net/wbm2sly.css">
     


</head>
